<footer style="background: #9b5a5a; color: white; padding: 10px; text-align: center;">
    <p>© 2025 Fashion Shop. Project NodeJs by <a href="https://github.com/IzumiDKC/Project_NodeJS">Dien Nguyen</a></p>
  </footer>
  