<!-- views/error.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error</title>
</head>
<body>
  <h1 style="color: red;">Có lỗi xảy ra</h1>
  <p><%= message %></p>
  <a href="/">Quay lại trang chủ</a>
</body>
</html>
